
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="poke-grid">
    <% for(pokemon of allPokemon) { %>

      <div class="poke-cell">
        <a href="pokemon/<%= pokemon.id %>">
          <article class="poke-pic" title=<%= pokemon.name %> >
            <img src=<%= pokemon.img %>  alt=<%= pokemon.name %>>
          </article>
        </a>
        <a href="pokemon/<%= pokemon.id%>/edit"><button class= "edit-btn">Edit <%=pokemon.name%></button></a>
        
        <form action="/pokemon/<%=pokemon.id%>?_method=DELETE" method="POST"><input class="btn-delete" type="submit" value="Delete <%=pokemon.name%>"></></form>
      </div>


    <% } %>
  </div> 

</body>

